openai
pandas
matplotlib
seaborn
python-dotenv
openpyxl
streamlit
markdown
tabulate
scikit-learn
plotly
kaleido
numpy
pillow
statsmodels
scipy
weasyprint
azure-storage-blob
opencensus-ext-azure
opencensus-ext-logging
gunicorn
